.game-wrapper {
    display: grid;
    width: 1200px;
    height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-template-columns: 0.7fr 1.3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
        "A B B"
        "A B B"
        "A C D";

    .grid-item {
        z-index: 4;
        background-color: white;
        border-radius: 20px;
        position: relative;
        min-height: 200px;

        padding: 1.5rem 0.5rem;

        &.players {
            grid-area: A;
            scrollbar-width: 2px;
        }
        &.white-board {
            grid-area: B;
            height: 600px;
            padding: 0;

            .timer {
                position: absolute;
                left: 50%;
                top: 20px;
                transform: translate(-50%, -50%);
                margin-top: 20px;
                padding: 20px;
                font-weight: bold;
                color: white;
                border-radius: 20px;
                background-color: #0a5efb;
                box-shadow: 1px 10px 10px 3px #000000;
                cursor: pointer;
            }
            #whiteboard-canvas {
                position: absolute;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            .owner-ui {
                z-index: 3;
                display: flex;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 20px;

                .start-btn {
                    font-weight: bold;
                    color: white;
                    border-radius: 20px;
                    background-color: #0a5efb;
                    box-shadow: 1px 10px 10px 3px #000000;
                    padding: 20px;
                    cursor: pointer;
                }
                .start-btn:active {
                    transform: scale(1.1) perspective(1px);
                }
                .invite-lnk:active {
                    transform: scale(1.1) perspective(1px);
                }

                .invite-lnk {
                    font-weight: bold;
                    color: white;
                    border-radius: 20px;
                    background-color: #0a5efb;
                    box-shadow: 1px 10px 10px 3px #000000;
                    padding: 20px;
                    cursor: pointer;
                    margin-left: 20px;
                }
            }

            .player-ui {
                z-index: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 20px;
                text-align: center;

                @keyframes waiting {
                    0% {
                        content: ".";
                    }
                    25% {
                        content: "..";
                    }
                    50% {
                        content: "...";
                    }
                    75% {
                        content: "..";
                    }
                    100% {
                        content: ".";
                    }
                }

                .waiting::after {
                    width: 100px;
                    content: ".";
                    animation-name: waiting;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                }
            }

            .word-ui {
                z-index: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 20px;

                .word {
                    font-weight: bold;
                    color: white;
                    border-radius: 20px;
                    background-color: #0a5efb;
                    box-shadow: 1px 10px 10px 3px #000000;
                    padding: 20px;
                    cursor: pointer;
                    margin-left: 20px;
                }
                .word:active {
                    transform: scale(1.1) perspective(1px);
                }
            }
        }
        &.answers-chat {
            grid-area: C;
            padding: 0;
            padding-bottom: 0px;
            // border-bottom-left-radius: 0px;
            // border-bottom-right-radius: 0px;
        }
        &.regular-chat {
            grid-area: D;
        }
    }
    @media only screen and (max-width: 1200px) {
        width: 900px;
    }
    @media only screen and (max-width: 760px) {
        width: 500px;
        display: grid;
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-template-columns: 0.7fr 1.3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px 20px;
        grid-template-areas:
            "B B B"
            "B B B"
            "C C C"
            "D D D"
            "A A A";
    }
}
