.home-wrapper {
    z-index: 4;
    .main-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: white;
        width: 50vw;
        height: 50vh;
        border-radius: 10px;
        z-index: 4;
        min-height: 400px;

        .card-row {
            display: flex;
            flex: 0.48;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            &.or {
                flex: 0.08;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 50px;
                    border: #c4c5c6 2px solid;
                    padding: 10px;
                    margin: 20px;
                    border-radius: 100px;
                }
            }
            &.or::before {
                content: "";
                width: 2px;
                height: 120px;
                background-color: #c4c5c6;
            }
            &.or::after {
                content: "";
                width: 2px;
                height: 120px;
                background-color: #c4c5c6;
            }

            .quick-game {
                font-weight: bold;
                font-size: 2rem;
                height: 100%;
            }

            .nickname {
                padding: 20px;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                input {
                    border: 2px #868d96 solid;
                    border-radius: 5px;
                    height: 30px;
                    width: 150px;
                }
            }

            .play {
                height: 100%;
                overflow: hidden;
                button {
                    font-size: 2rem;
                    width: 200px;
                    border-radius: 5px;
                    background-color: #13bafe;
                    border: 2px solid #005a7e;
                    cursor: pointer;
                }
            }
        }
    }
    // @media only screen and (max-width: 1000px) {
    //     .main-card {
    //         .card-row:first-child {
    //             display: flex;
    //             flex: 1;
    //         }
    //         .card-row.or {
    //             display: none;
    //         }

    //         .card-row:nth-child(3) {
    //             display: none;
    //         }
    //     }
    // }
    @media only screen and (max-width: 1200px) {
        .main-card {
            flex-direction: column;
            height: 80vh;
            .card-row {
                height: 200px;
                overflow: hidden;
                margin-top: 30px;
                &.or {
                    flex-direction: row;
                    flex: 0.3;
                    width: 100%;
                    position: relative;
                    margin-top: 20px;
                }
                &.or::before,
                &.or::after {
                    width: 100%;
                    height: 2px;
                    max-width: 150px;
                    max-width: calc(15vw - 1rem);
                    background-color: #c4c5c6;
                }
            }
        }
    }
}
